.dark-theme,
.dark-theme::placeholder{
    animation: dark 0.5s ease forwards;
}
.a-dark-theme{
    animation: a-dark 0.5s ease forwards;
}
.light-theme,
.light-theme::placeholder {
    animation: light 0.5s ease forwards;
}
.dark-theme-c {
    background: var(--theme-gradient);
    background-size: 200% 200%;
}

.light-theme-c {
    background: var(--main-gradient);
    background-size: 200% 200%;

}


.header-shadow--dark {
    border-color: #fff;
    box-shadow: 3px 0px 1px 0px rgb(248, 248, 248);; 
    transition: var(--theme-transition);
}
@keyframes dark {
    from {
        background-color: var(--white-color);
        fill: var(--main-color);
        color: var(--main-color);

    }
    to {
      background-color: var(--dark-color);
      fill: var(--white-color);
      color: var(--white-color);
    }
  }
  @keyframes light {
    from {
        background-color: var(--dark-color);
        fill: var(--white-color);
        color: var(--white-color);

    }
    to {
      background-color: var(--white-color);
      fill: var(--main-color);
      color: var(--main-color);
    }
  }
  @keyframes a-dark {
    from {
        background-color: var(--white-color);
        fill: var(--main-color);
        color: var(--main-color);

    }
    to {
      background-color: var(--dark-color);
      fill: var(--white-color);
      color: var(--white-color);
    }
  }
